body{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction:column;
    font-size: 12px;
}
section{
.box1{
  display: flex;
  justify-content:space-between;
   border-bottom: 1px solid #ccc;
}
  p{
    height: 30px;
    line-height: 30px;   
    padding-left: 10px;
    position: relative;
  }
  .toggle-box{
    display: inline-block;
    width: 18px;
    height: 19px;
    line-height: 18px;
    border: 1px solid #ccc;
    margin-top: 5px;
    margin-right:8px;
    position: relative;
    .track{
      position: absolute;
      left: 0;
      top:0;      
      .fa{
        color: #fff;  
        font-size: 18px;     
      }
    }
    
  }

  .toggle-box input[type=checkbox]:checked + .track{
    color: #fff;
    background: #06C1AE;
  }
  .uls{
    sapn{
      line-height: 30px;
      padding-left: 10px;
    }
    ul{
      display: flex;
      flex-wrap:wrap;
      padding: 5px 3px;
      box-sizing: border-box;
      li{
        width: 24%;
        line-height: 25px;
        text-align: center;
        color: #06C1AE;
        border:1px solid #06C1AE;
        box-sizing: border-box;
        margin-left: 3px;
        margin-top: 3px;
      }
      .active{
        background: #06C1AE;
        color: #fff;
      }
    }
  }
}
h2{
padding-left: 10px;
padding-right: 10px;
  color: #06C1AE;
  display: flex;
  justify-content:space-between;
}


